[submodule "contracts/lib/contracts-v2"]
	path = contracts/lib/contracts-v2
	url = https://github.com/ensdomains/contracts-v2
[submodule "contracts/aqua/lib/forge-std"]
	path = contracts/aqua/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/aqua/lib/aqua"]
	path = contracts/aqua/lib/aqua
	url = https://github.com/1inch/aqua
